.divItemDetail{
  height: 1000px;
  background-color: #6e6e6e25;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.textDescription{
    margin: 5px;
    text-align: left;
    color: #545454;
}

.imgDetail{
    width: 450px;
}

.textCant{
    color: #6e6e6e77;
}

@media screen and (max-width: 480px) {
    .divItemDetail{
        flex-direction: column;
        padding-top: 250px;
    }

    .imgDetail{
        width: 320px;
    }

    .divDescripcionProducto{
        padding: 40px;
    }
}