@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');


.sectionHeader{
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    height: 560px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.imgSectionHeader{
    height: inherit;
    width: 100%;
    object-fit: cover;
}

.sectionHeader::before{
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgba(0, 0, 0, 0.527);
}

.h1ImgSectionHeader{
    font-family: 'Roboto Slab', serif;
    font-size: xx-large;
    font-weight: normal;
    position: absolute;
    color: wheat;
}

.sectionMain{
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(238, 238, 238);
}

.titleSectionMain{
    text-decoration: underline;
    text-transform: capitalize;
}

.cardSectionMain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    width: 250px;
    height: 400px;
    background-color: #dfdfdf;
}