.navbar{
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 32px 0 rgb(0 0 0 / 6%);
  -webkit-backdrop-filter: blur( 6.5px );
  backdrop-filter: blur( 6.5px );
  background-color: #f3f3f317;
}

.tituloNav:hover{
  color: black;
  transition: .3s;
}

.css-button-sliding-to-bottom--black {
  height: 45px;
  min-width: 150px;
  padding: 0px 30px;
  font-size: medium;
  font-family: sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  z-index: 0;
  background: #00000000;
  overflow: hidden;
  border: none;
  color: #707070;
}
.css-button-sliding-to-bottom--black:hover {
  color: #fff;
}
.css-button-sliding-to-bottom--black:hover:after {
  height: 100%;
}
.css-button-sliding-to-bottom--black:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: #212529;
}

.divBotones{
  display: flex;
  align-items: center;
}


.logo{
  width: 90px;
  height: 100%;
  border-radius: 80%;
  margin: 10px;
}

.logo:hover{
  opacity: 80%;
  transition: .7s;
}

.carrito{
  text-decoration: none;
  color: black;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  
  .navbar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .divBotones{
    display: flex;
    flex-direction: column;
  }

  .logo{
    width: 20%;
    height: 80%;
  }
}