.css-button-neumorphic {
    margin: 10px;
    width: fit-content;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #efefef;
    box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
    color: #585858;
  }
  .css-button-neumorphic:active {
    box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
  }


.input{
    background: rgb(237 237 237 / 39%);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 20%);
    -webkit-backdrop-filter: blur( 4px );
    backdrop-filter: blur( 4px );
    border: none;
    height: 40px;
    width: -moz-fit-content;
    width: 30px;
    border-radius: 10px;
    text-align: center;
}

.card{
  margin: 0px auto 20px auto;
  width: 200px;
  background: rgb(26 55 72 / 14%);
  box-shadow: 0 8px 32px 0 rgb(0 0 0 / 41%);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: solid 1px #00000014;
}

.img{
  width: 100%;
  object-fit: fill;
}

.stock{
  font-weight: bold;
  font-size: small;
  font-style: italic;
  color: #585858;
}