.divCards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 130px;
}

@media screen and (max-width: 480px) {
   .divCards{
    padding-top: 280px;
   }
}